
<div class="container mt-5">
  <div class="row justify-content-center mb-5">
    <div class="col-12 ">
      <h4 class="text-center">Olá!<br>Bem-vindo aos meus desafios:</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 ">
      <%= link_to 'D3: Web Crawler', d3_crawler_link_path, class:"btn btn-dark btn-block app-space-button"%>
      <%= link_to 'D3: Logic test', d3_logic_index_path, class:"btn btn-dark btn-block app-space-button"%>
    </div>

  </div>
</div>